alabaster==0.7.12
asgiref==3.3.0
Babel==2.8.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
Django==3.1.6
django-polymorphic==3.0.0
docutils==0.16
-e git+https://github.com/rbturnbull/gotoh.git@9887175dfc40601493471b481a69aa3152408d49#egg=gotoh
-e git+https://gitlab.unimelb.edu.au/rturnbull/django-imagedeck.git#egg=django-imagedeck
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
kiwisolver==1.3.1
livereload==2.6.3
MarkupSafe==1.1.1
matplotlib==3.3.2
numpy==1.19.4
packaging==20.4
pandas==1.1.4
Pillow==8.0.1
Pygments==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2020.4
pyxDamerauLevenshtein==1.6.1
requests==2.24.0
scipy==1.5.4
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.3.0
sphinx-autobuild==2020.9.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
tornado==6.1
urllib3==1.25.11
