{% extends "dcodex/base.html" %}
{% load static %}
{% block title %}{{ manuscript.short_name }} {{ verse }}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'dcodex/css/manuscript.css' %}" />
<style>
</style>
{% endblock %}

{% block content %}
<div id=msHover style='overflow:hidden;'></div>

<div id=leftSidebar>
    <center>
        <a href="/"><img src="{% static 'dcodex/images/DCodex-Logo.svg' %}" id='logo' /></a>
        <form>
            <input type=text name=pageNumber value='' size=5  class=pageInput id=pageNumberInput placeholder='Page'>	
            <input type="submit" value="⤵︎︎" name=load id=goToPage >
        </form>
    </center>
    <div id=thumbnail-scroll>
        <div id="thumbnails">
        </div>
        <div style="margin: 20px;">
            {% if request.user.is_staff %} {# TODO should check permissions on manuscripts #}
                <div class="row" >
                    <button type="button" class="btn btn-outline-light btn-upload-images">
                        <i class="fas fa-upload"></i> Upload Facsimiles
                    </button>  
                </div>
            
                <input id="fileupload" type="file" name="file" multiple
                        style="display: none;"
                        data-url="{{ manuscript.get_image_upload_url }}"
                        data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
            {% endif %}        
        </div>
    </div>
</div>
<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Uploading...</h4>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id=middle>
	<div id=manuscript>
        <div id=manuscriptHeader></div>
        <div id=manuscriptImages></div>
        <div id=marker></div>
        <div id=markerX></div>
	</div>


    <div id=heading>
        <div id=verseSearch></div>
        <div id=details></div>
        
        <div id=toggleReferences  class='toggle_header_button'><img src="{% static 'dcodex/images/RightSidebar.svg' %}" /></div>
        <div id=toggleLeftSidebar class='toggle_header_button'><img src="{% static 'dcodex/images/LeftSidebar.svg' %}"  /></div>
    </div>  
    <div id=transcriptionEntry>
        <form action="" method="GET">
            <div style='left: 0px; top: 0px; right: 60px; position: absolute; z-index: 2222;'>
                <textarea name="transcription" id="transcription" class="{{ manuscript.text_direction_css }}"></textarea>
            </div>

            <div style='width: 45px; top: 0px; right: 5px; position: absolute; z-index: 2222;'>
                <div  class='inputHeader inputButton'>
                    <img src="{% static 'dcodex/images/TEI-Grayscale.svg' %}" style='width: 80%; margin-top: 5px; margin-left:1px; cursor: hand;' id='teiOptionsView'>
                </div>
                <br><br><br>
                <input type="submit" value="✓" class='inputHeader inputButton'  name=submit style="width: 100%; height: 100%;" id=saveTranscription>				
            </div>
        </form>
    </div>
</div>

<div id=locationOptions>
</div>

<div id=comparison></div>
<div id=manuscriptSelectWindow></div>	
<div id=tagPageWindow>
	<div id=tagPageWindowClose class=closeButton></div>
	<input id=tagPageFolioNumber type=text style='text-align: center; font-size: 2.0em;' size=4>
	<input id=tagPageFolioLetter type=text style='text-align: center; font-size: 2.0em;' size=2>
	<input type="submit" value="✓" class='inputHeader inputButton'  name=submit style="width: 50px; height: 45px;" id=saveTagPage>		
	
</div>	

{% endblock %}


{% block javascript %}
<script src="{% static 'dcodex/js/jquery.lazy.min.js' %}"></script>
<script src="{% static 'dcodex/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'dcodex/js/manuscript.js' %}"></script>
<script>
$( document ).ready(function() {
    console.log( "loading from manuscript.html" );
    load_manuscript( {{ manuscript.id }} );
    seekVerse( {{ verse.id }}, {{ manuscript.id }} )
});

$(function () {
    /* 1. OPEN THE FILE EXPLORER WINDOW */
    $(".btn-upload-images").click(function () {
      $("#fileupload").click();
    });
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
    $("#fileupload").fileupload({
      dataType: 'json',
      sequentialUploads: true,

      start: function (e) {
        $("#modal-progress").modal("show");
        console.log("modal-progress show");
      },

      stop: function (e) {
        console.log("stopping upload");
        $('#modal-progress').on('shown.bs.modal', function () {
            $("#modal-progress").modal("hide");
            console.log("modal-progress hide");
            location.reload(); // Reload to show the images. It would be better to do this with javascript as I attempt to do below. TODO Fix
        });
      },

      progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        var strProgress = progress + "%";
        $(".progress-bar").css({"width": strProgress});
        $(".progress-bar").text(strProgress);
      },

      done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
        if (data.result.is_valid) {
          $("#images").append(
            "<a href='" + data.result.url + "'><img src='" + data.result.thumbnail_url + "' class='img-thumbnail rounded' style='width: 250px;'></a>"
          )
        }
        else {
            console.log("Upload unsuccessful.")
        }
      }
    });
  
  });
</script>
{% endblock %}