{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% if thumbnails %}
    {% for thumbnail in thumbnails %}
        <div id='thumbnailContainer{{ thumbnail.page }}' class=thumbnailContainer data-page='{{ thumbnail.page }}'>
            <img data-src='{{ MEDIA_PREFIX }}{{ thumbnail.src }}' src='' class='thumbnail' data-page='{{ thumbnail.page }}' data-folio='{{ thumbnail.folio }}' id='thumbnail{{ thumbnail.page }}' />
            {% if thumbnail.folio %}
                <p>{{ thumbnail.folio }} - p{{ thumbnail.page }}</p>
            {% else %}
                <p>Page {{ thumbnail.page }}</p>
            {% endif %}
        </div>            
    {% endfor %}
{% else %}
    <p>No thumbnails available.</p>
{% endif %}