{% load static %}
{% load dcodex_tags %}
{% get_media_prefix as MEDIA_PREFIX %}

{% if manuscript %}
    {% for image_membership in manuscript.image_memberships %}
        <div id='thumbnailContainer{{ forloop.counter }}' class="thumbnailContainer" data-page='{{ forloop.counter }}' data-mid='{{ image_membership.id }}'>
            <img data-src='{{ image_membership.thumbnail }}' src='' class='thumbnail' data-page='{{ forloop.counter }}' data-folio='{{ image_membership.folioref }}' id='thumbnail{{ forloop.counter }}' />
            <p>{{ manuscript|folio_and_page:forloop.counter }}</p>
        </div>            
    {% endfor %}
    {% if not manuscript.image_memberships.count %}
        <script>
            $("#manuscriptHeader").css("height","100%");
            $("#transcriptionEntry").css("height","100%");
            $("#transcription").css("height","700px");
        </script>
    {% endif %}
{% else %}
    <p>No thumbnails available.</p>
{% endif %}