{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dcodex/css/dcodex.css' %}" />
    {% block stylesheet %}{% endblock %}    
    {% include 'dcodex/favicon.html' %}
    {% include 'dcodex/fonts.html' %}
  </head>
  <body>
      {% block content %}
      {% endblock %}
<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
-->
    <script src="{% static 'dcodex/js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'dcodex/js/jquery-ui.min.js' %}"></script>
	
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    
    <script src="{% static 'dcodex/js/dcodex.js' %}"></script>
    {% block javascript %}{% endblock %}

  </body>
</html>
{# Based on https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html #}