body {
    background: lightgray;
	margin:0;
	padding:0;
}
#logo {
    width: 90%; 
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mshover:hover .msbox {
    visibility: visible;
}	
#msHover{
	display:none;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 2222;
    
    height: 400px;
    bottom: 20px;
    left: 200px; 
    right: 400px; 
    direction: rtl;
	box-shadow: 0px 0px 5px #ffffff,0px 0px 5px #ffffff,0px 0px 10px #ffffff;
	box-shadow: 0px 0px 55px #000;

}